# Ignore list for Kicad Projects
# Temporary Files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~

_autosave-*
*.tmp
*-save.pro
*-save-kicad_pcb
fp-info-cache

#Netlist Files
*.net
#Autorouter Files
*.dsn
*.ses
